html {
  box-sizing: border-box;
}

*, *:before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}

@font-face {
  font-family: "myfont";
  src: local("Prestigious Regular"), local("Prestigious-Regular"), url("/font/Prestigious-Regular.woff2") format("woff2"), url("/font/Prestigious-Regular.woff") format("woff"), url("/font/Prestigious-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-size: 15px;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  color: black;
  background-color: #F5F5F5;
}

h1, h2 {
  font-family: "myfont";
  text-align: center;
}

h3, h4 {
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.welcome-content__button {
  color: white;
  background-color: #3F6064;
  border: 1px #3F6064 solid;
  margin: 15px;
  padding: 10px 50px;
  cursor: pointer;
}

#waitlist {
  padding: 9px 142px;
}

.property-page__prices {
  color: white;
  background-color: #9A7E28;
  padding: 10px 40px;
  border: none;
}

#form-wrapper__btn {
  color: white;
  background-color: #9A7E28;
  padding: 10px 40px;
  border: none;
  margin: 10px 0 20px 0;
  text-decoration: none;
}

.welcome-content__coming {
  color: white;
  background-color: #9A7E28;
  padding: 10px 40px;
  border: none;
  display: block;
  margin: auto;
  padding: 10px 150px;
}

.search-container {
  margin: 20px;
}

.search {
  width: 50%;
  display: flex;
  position: relative;
  margin: auto;
}
.search__term {
  width: 100%;
  border: 2px solid #524C4C;
  border-right: none;
  padding: 5px;
  outline: none;
  color: white;
}
.search__term:focus {
  color: black;
}
.search__button {
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  background-color: #524C4C;
  color: white;
  border: 2px solid #524C4C;
  width: 10%;
}

header {
  background-color: #3F6064;
  font-size: 12px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
header img {
  margin-right: 20px;
}

.menu {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  padding: 0;
}
.menu li {
  padding: 10px;
}
.menu li > a {
  text-decoration: none;
  color: white;
}

#signup {
  background-color: #9A7E28;
}

footer {
  background-color: #3F6064;
  font-size: 12px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
  padding: 20px;
}

.footer-left {
  flex-basis: 40%;
}
.footer-left__links a {
  text-decoration: none;
  color: white;
  border-right: solid 1px white;
  padding-right: 5px;
  padding-left: 5px;
}
.footer-left__copyright {
  padding-left: 5px;
  margin-top: 20px;
}

.footer-center {
  flex-basis: 35%;
}
.footer-center i {
  background-color: #524C4C;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  margin: 10px 15px;
}
.footer-center p {
  display: inline-block;
}
.footer-center p a {
  text-decoration: none;
  color: white;
}

.footer-right {
  flex-basis: 25%;
}
.footer-right__about span {
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-right__icons {
  margin-top: 25px;
}
.footer-right__icons a {
  color: white;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
  background-color: #524C4C;
  text-align: center;
  line-height: 32px;
  margin-right: 5px;
  display: inline-block;
}

.homepage-hero-image {
  width: 100%;
  object-fit: cover;
  height: 40vh;
}

.welcome-content {
  text-align: center;
}
.welcome-content img {
  margin: 10px;
}

.about-suite-stay-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: nowrap;
}

.icons-wrapper {
  padding: 20px;
  flex-basis: 25%;
}

.hotel-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  width: 95%;
  margin: auto;
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #524C4C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.cards__img {
  width: 100%;
  object-fit: cover;
  height: 25vh;
}
.cards__subtitle {
  margin: 10px 0 0 10px;
}
.cards__hotel {
  flex: 45%;
  margin: 10px 0 10px 10px;
}
.cards__capacity {
  flex: 45%;
  text-align: end;
  margin: 10px 10px 10px 0;
}
.cards__price {
  align-self: flex-end;
  background-color: #524C4C;
  color: white;
  margin: 0 10px 10px 0;
  padding: 3px;
}

.cards-text-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.property-page-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: nowrap;
}

.property-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

.property-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
}

.hotel-highlights-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.hotel-highlights {
  flex-basis: 50%;
  text-align: center;
  padding: 20px;
}
.hotel-highlights__boxes {
  flex-basis: 30%;
  color: white;
  background-color: black;
  border: solid 1px black;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  padding: 10px;
}
.hotel-highlights__more {
  margin-top: 0;
}
.hotel-highlights__more a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#property-page-video {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  padding: 20px;
}
#property-page-video > iframe {
  border: none;
  flex-basis: 90%;
}

#detail-text {
  text-align: center;
  padding: 20px;
}

.details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}

.details {
  flex-basis: 25%;
}
.details__link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 12px;
}

.included-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px;
}

.included-image {
  width: 50%;
  object-fit: cover;
}

.included {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.included__heading {
  margin-bottom: 5px;
}
.included__detail {
  margin: 0;
}

.restaurants-and-activities {
  padding: 20px;
  background-color: white;
}

.restaurants-and-activities-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.restaurants-and-activities-wrapper h4 {
  margin: 5px;
  font-weight: 300;
}

.property-cards {
  flex-basis: 30%;
}
.property-cards__img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
.property-cards__subtitle {
  text-align: center;
}

.destination-and-location {
  text-align: center;
  padding: 20px;
}
.destination-and-location h2 {
  margin-bottom: 5px;
}
.destination-and-location a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.body-main {
  background-color: white;
}

.booking {
  text-align: center;
  margin: 20px 0;
}
.booking__img {
  width: 40%;
  margin: 10px;
}

.booking-details-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F5F5;
  line-height: initial;
}

.booking-details {
  flex-basis: 45%;
  text-align: center;
}

.confirmation-help {
  text-align: center;
}
.confirmation-help a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #F5F5F5;
  border: 3px solid #3F6064;
  margin: 20px;
}
.form-wrapper__name > input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  outline-color: #9D3636;
}
.form-wrapper__details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.form-wrapper__details > input {
  margin: 10px;
  padding: 5px;
  width: 330px;
  outline-color: #9D3636;
}
.form-wrapper__checkbox {
  display: inline-flex;
}
.form-wrapper__checkbox input[type=checkbox] {
  accent-color: #9D3636;
}
.form-wrapper__checkbox > .check {
  margin: 10px;
}

.see-details {
  font-size: 12px;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
