footer{
    background-color: $color-primary;
    font-size: 12px;
    color: white;
    @include flex-basic (row);
    margin-top: 30px;
    padding: 20px;

    @media only screen and (max-width: 768px){
        flex-direction: column;
        text-align: center;
    }
}

.logo{
    width: 80px;
}

.footer-left{
    flex-basis: 40%;

    &__links{

        & a{
            text-decoration: none;
            color: white;
            border-right: solid 1px white;
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    &__copyright{
        padding-left: 5px;
        margin-top: 20px;
    }
}

.footer-center{
    flex-basis: 35%;

    @media only screen and (max-width: 768px){
        @include flex-basic (row);
        justify-content: center;
    }

    @media only screen and (max-width: 480px){
        @include flex-basic (column);
        align-items: center;
    }

    &__address{
        @media only screen and (max-width: 480px){
            width: 32%;
        }
    }

    &__phone{
        @media only screen and (max-width: 480px){
            width: 32%;
        }
    }

    &__email{
        @media only screen and (max-width: 480px){
            width: 32%;
        }
    }

    & i{
        @include contact-icons;
    }

    & p{
        display: inline-block;

        & a{
            text-decoration: none;
            color: white;
        }
    }
}

.footer-right{
    flex-basis: 25%;

    &__about span{
        display: block;
        font-weight: map-get($font-weight-main, semi-bold);
        margin-bottom: 20px;
    }

    &__icons{
        margin-top: 25px;
        
        & a{
            @include social-icons;
        }
    }
}