header{
    background-color: $color-primary;
    font-size: 12px;
    padding: 10px;

    @include flex-center (row);

    & img{
        margin-right: 30px;
    }
}

.menu{
    list-style: none;
    display: flex;
    padding: 0;

    li{
        padding: 10px 30px;
        
        &>a{
            text-decoration: none;
            color: white;
        }
    }
}

#signup{
    background-color: $color-tertiary;
    border-radius: 10px;
}