.arrow-back{
    color: $color-primary;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
    font-size: 45px;
    position: absolute;
    left: 10px;
}