.arrow-back{
    color: $color-primary;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px;
    font-size: 30px;
    position: absolute;
    left: 8px;
}