.welcome-content{

    &__button{
        color: white;
        background-color: black;
        border-color: black;
        margin: 15px;
        padding: 10px;
        cursor: pointer;
    }
}

.property-page{
    &__prices{
       @include orange-btn; 
    }
}

#form-wrapper__btn{
    @include orange-btn;
}

.welcome-content__coming{
    @include orange-btn;
    display: block;
    margin: auto;
}