.welcome-content{

    &__button{
        color: white;
        background-color: $color-primary;
        border: 1px $color-primary solid;
        margin: 15px;
        padding: 10px 50px;
        cursor: pointer;
        border-radius: 10px;
        &:hover{
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        }
    }
}

#waitlist{
    padding: 9px 142px;
}

.property-page{
    &__prices{
       @include orange-btn; 
       border-radius: 10px;
       &:hover{box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }
    }
}

.confirm-btn{
    @include orange-btn;
    cursor: pointer;
    border-radius: 10px;
    &:hover{
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }
}

.booking-calendar a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#form-wrapper__btn{
    @include orange-btn;
    margin: 10px 0 20px 0;
    text-decoration: none;
    border-radius: 10px;
    &:hover{
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }
}

.coming-soon__button{
    @include orange-btn;
    display: block;
    margin: auto;
    padding: 10px 150px;
    border-radius: 10px;
    &:hover{
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }
}