.welcome-content{

    &__button{
        color: white;
        background-color: black;
        border-color: black;
        margin: 15px;
        padding: 10px;
        cursor: pointer;
    }
}

#waitlist{
    padding: 9px 142px;
}

.property-page{
    &__prices{
       @include orange-btn; 
    }
}

#form-wrapper__btn{
    @include orange-btn;
    margin: 10px 0 20px 0;
    text-decoration: none;
}

.welcome-content__coming{
    @include orange-btn;
    display: block;
    margin: auto;
    padding: 10px 150px;
}