:root {
  --swiper-navigation-color: white !important;
  --swiper-theme-color: white !important;
  --swiper-navigation-size: 35px !important;
  }

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  

  .swiper-slide {
    text-align: center;
    font-size: 15px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#swiper-button-next2, #swiper-button-prev2{
  top: 40% !important;
}


  

 