body{
    font-size: 15px;
    font-family: $font-main;
    font-weight: map-get($font-weight-main, light);
    color: $color-secondary;
    background-color: $color-background;
}

h1, h2{
    font-weight: map-get($font-weight-main, lighter-bold);
    text-align: center;
}

h3{
    font-weight: map-get($font-weight-main, lighter-bold);
}

h4{
    font-weight: map-get($font-weight-main, lighter-bold);
}

.bold{
    font-weight: map-get($font-weight-main, semi-bold);
}
