body{
    font-size: 15px;
    font-family: $font-main;
    font-weight: map-get($font-weight-main, light);
    color: black;
    background-color: $color-secondary;
}

h2, h3{
    font-family: $font-titles;
    text-align: center;
}