.body-main{
    background-color: white;
}
.booking{
    text-align: center;
    margin: 20px 0;

    &__img{
        width: 40%;
        margin: 10px;

        @media only screen and (max-width: 768px){
            width: 60%;
        }
    }
}

.booking-details-wrapper{
    @include flex-basic (row);
    justify-content: space-around;
    align-items: center;
    background-color: $color-background;
    line-height: initial;

    @media only screen and (max-width: 768px){
        flex-direction: column;
    }
}

.booking-details{
    flex-basis: 45%;
    text-align: center;
}

.confirmation-help{
    text-align: center;
    
    & a{
        text-decoration: none;
        color: black;
        font-weight: map-get($font-weight-main, semi-bold);
    }
}

.form{
    @include flex-basic (row);
    justify-content: center;
}

.form-wrapper{
    @include flex-center (column);
    background-color: $color-background;
    border: 3px solid $color-primary;
    margin: 20px;

    &__name{
        
        >input{
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 5px;
            outline-color: $color-red;
        }
    }

    &__details{
        @include flex-basic (column);
        align-items: center;
        
        >input{
            margin: 10px;
            padding: 5px;
            width: 330px;
            outline-color: $color-red;
        }
    }

    &__checkbox{
        display: inline-flex;

        & input[type='checkbox']{
            accent-color: $color-red;
        }
        
        >.check{
            margin: 10px;
        }
    }
}

.see-details{
    font-size: 12px;
    font-weight: map-get($font-weight-main, semi-bold);
}