.homepage-hero-image{
    width: 100%;
    object-fit: cover;
    height: 40vh;
    filter: brightness(80%);
}

#about{
    width: 220px;
}

.welcome-content{
    text-align: center;

    & img{
        margin: 10px;
    }
}

.about-suite-stay-wrapper{
    @include flex-basic (row);
    flex-wrap: nowrap;
}

.icons-wrapper{
    padding: 20px;
    flex-basis: 25%;
}

.hotel-cards-wrapper{
    @include flex-basic (row);
    background-color: white;
    width: 95%;
    margin: auto;
    padding: 20px;
}

.cards{
    @include flex-basic (column);
    width: 45%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $color-secondary;
    @include box-shadow-cards;

    &__img{
        width: 100%;
        object-fit: cover;
        height: 25vh;
    }

    &__subtitle{
        margin: 10px 0 0 10px;
    }

    &__hotel{
        flex: 45%;
        margin: 10px 0 10px 10px;
    }

    &__capacity{
        flex: 45%;
        text-align: end;
        margin: 10px 10px 10px 0;
    }

    &__price{
        align-self: flex-end;
        background-color: $color-secondary;
        color: white;
        margin: 0 10px 10px 0;
        padding: 3px;
    }
}

.cards-text-wrap{
    @include flex-basic (row);
}