@mixin flex-center ($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: $direction;
}

@mixin flex-basic ($direction){
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
}

@mixin box-shadow-cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

@mixin orange-btn{
    color: white;
    background-color: $color-tertiary;
    padding: 10px 40px;
    border: none;
}

@mixin highlight-boxes{
    color: white;
    background-color: black;
    border: solid 1px black;
}