$color-primary: #AED6E2;
$color-secondary: #F5F5F5;
$color-tertiary: #9A7E28;
$color-grey: #524C4C;

$font-main: "poppins", sans-serif;
$font-weight-main: (light:300, semi-bold:600);
$font-titles: "space grotesk", sans-serif;