$color-primary: #3F6064;
$color-secondary: #524C4C;
$color-tertiary: #9A7E28;
$color-background: #F5F5F5;
$color-red: #9D3636;

$font-main: "poppins", sans-serif;
$font-weight-main: (light:300, semi-bold:600);
$font-titles: "space grotesk", sans-serif;